{% extends "services/serv_base.html" %}
{% load static %}

{% block title1 %}
website Mentenance
{% endblock %}

{% block purpose %}
this is the purpose list
{% endblock %}

{% block description1 %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem dolores distinctio hic necessitatibus eaque! Totam officiis illum explicabo fugiat! Id odit at sunt quisquam dolorum vitae hic molestiae quidem voluptatem, iste fugiat eius non velit, fugit ea voluptatum, quasi praesentium laboriosam atque modi? Assumenda culpa aut voluptate, sit modi minima.lorem
t consectetur adipisicing elit. Rem dolores distinctio hic necessitatibus eaque! Totam officiis illum explicabo fugiat! Id odit at sunt quisquam dolorum vitae hic molestiae quidem voluptatem, iste fugiat eius non velit, fugit ea voluptatum, quasi praes
{% endblock %}