{% extends "base.html" %}
{% load static %}
{% block body %}

  <!-- ============= about Us =============== -->

  <section id="aboutUs">
    <div class="container">
      <div class="img1">
        <!-- <h1>co-founder</h1> -->
        <img src="{% static "images/photo.jpeg" %}" alt="image">
      </div>
      <div class="cont1">
        <p>YES WEB SERVICE is India’s top web design Agency, and we got here by putting our clients’ requirements first. Technology has become increasingly advanced with passaging time. Over the passages of 22 years, YES WEB SERVICE has made the world of web designing an enormous place in the IT field. The YES WEB SERVICE agency intention is to satisfy the client. For that, understanding the client’s needs first.<br>

          Mr. Naveen Singh is the founder of YES WEB SERVICE. He is an expert in IT Field, having experience of 22 years. Top companies of YES WEB SERVICE India, which is established in 1998, 16th November. YES WEB SERVICE deals with creating different profiles related to web services such as Web Design, Web Development, Digital Marketing, SEO etc. We have an expert team in our agency who provide the best service to our every client. Agency employ put complete effort to satisfy the client needs as per clients’ requirements.</p>
      </div>
      <div class="img2">
        <img src="{% static "images/photo.jpeg" %}" alt="image">
      </div>
      <div class="cont2">
        <h1>What We Consider</h1>
        <p>YES WEB SERVICE is a custom design agency that specializes in digital marketing for e-commerce and other web professional services. We are fully helpful to our clients to create, develop, with the help of new techniques, in the digital world navigate to the best approach.</p>
        <h1>Our Values</h1>
        <ul>
          <li>YES WEB SERVICE is passionate to help our clients and succeed them in the digital world. Our Values at YES WEB SERVICE are:</li>
          <li> We provide effective results through authentic brand experiences and real Digital Marketing</li>
          <li>Every employee gives full support to grow our team and clients.</li>
          <li>Our Collective Undertaking obliges us to use our Agency in creativity methods to sort the world into a healthier place.</li>
          <li>Growing Businesses through Trusts</li>
        </ul>
        <p>We often deal that the challenge and opportunity is sort of a double-edged sword. Our YES WEB SERVICE has an identity within the IT field of knowledge; not from today, last of twenty-two years. Technology has changed, so have we? Not will a template website design grow businesses the way it accustomed? So we create custom schemes and procedures for every one of our clients. With the help of SEO and PPC strategy, we make custom plans for our clients’ website build-through to reach their goals.<br>

        Invention out supplementary about in what manner we are able to aid you by read-throughout our Service Listings, reviewing our Project Portfolio and analyzing a touch about Our Team!</p>
      </div>
    </div>
  </section>

{% endblock %}